@font-face {
    font-family: "MyriadProRegular";
    src: url("../fonts/MyriadProRegular/MyriadProRegular.eot");
    src: url("../fonts/MyriadProRegular/MyriadProRegular.eot?#iefix")format("embedded-opentype"),
    url("../fonts/MyriadProRegular/MyriadProRegular.woff") format("woff"),
    url("../fonts/MyriadProRegular/MyriadProRegular.ttf") format("truetype");
    font-style: normal;
    font-weight: normal;
}
a{
    text-decoration: none;
}
.whitelinks{
    color: white;

}
.black-links{
    color:black;
}
.black-links:hover{
    color: #3181a6;
}
.Ramda{
    font-size: 110px;
    color:black;
}
.ramda-color{
    color: #4bcaff;
}
.gray-links{
    color: #495863;
}
.wrapper{
    width: 1280px;
    height: 100%;
    margin: 0 auto;
}
.header-nav{
    background-color:#35444f;
}
.header-nav-menu{
    height: 70px;
    margin: 0 auto;
    width: 50%;
}
.header-menu-content{
    list-style-type: none;
    display: inline-block;
    padding-left: 10px;
    font-family: "MyriadProRegular", sans-serif;
    font-size: 21px;
    height: 100%;
    padding-top: 25px;
    box-sizing: border-box;
    border: 1px solid transparent;
}
.header-menu-content:hover{
    border: 1px solid #818181;
    background-color: #222f3a;
}
.content{
    margin-top: 30px;
}
.left-bar-menu{
    vertical-align: top;
    display: inline-block;
    height: 400px;
    width: 350px;
    border: 1px  solid #495863;
}
.aside-menu{
    height: 100%;
    width: 100%;
    margin: 0;
    box-sizing: border-box;
    padding-left: 0;
}
.aside-menu-content{
    list-style-type: none;
    height: 20%;
    font-size: 30px;
    font-family: "MyriadProRegular", sans-serif;
    padding:10px 0 0 20px;
    box-sizing: border-box;
}
.aside-menu-content:hover{
    background-color:#dbdbdb ;
    padding-left: 30px;
    transition-duration: 0.4s;
}
.pictures-main-border{
    margin-left: 120px;
    display: inline-block;
    width: 800px;
    height: 529px;
    border: 1px  solid #495863;
}
.pictures-main-border-content{
    margin: 0 auto;
   box-sizing: border-box;
    padding-top: 65px;
    display: block;
}
.pictures-main-border-content:hover{
    transform: scale(1.2);
    transition-duration: 2s;
}
.paragraphs{
    text-align: left;
}
.text-location{
    margin-left: 500px;
    margin-right: 20px;
}
.footer-nav{
background-color: #b4b7ba;
}
.footer-nav-menu{
    height: 70px;
    width: 60%;
    display: inline-block;

}
.footer-nav-menu-content{
    list-style-type: none;
    display: inline-block;
    padding-left: 15px;
    font-family: "MyriadProRegular", sans-serif;
    font-size: 21px;
    padding-top: 25px;
}
.footer-nav-menu-content:hover{
    text-decoration: underline;
}
.copyright{
    width: 20%;
    display: inline-block;
    margin: 0;
    font-family: "MyriadProRegular", sans-serif;
    font-size: 21px;
    padding-left: 212px;
}
